<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<simulationSettings>
		<setting name="RepeatingQuantity ">
		<value>10</value>
		</setting>
		<setting name="MaximumRoundForEachGame">
			<value>40</value>
		</setting>
	</simulationSettings>
	<gameSettings>
		<setting name="PointToWin">
			<value>256</value>
		</setting>
		<setting name="PlayersQuantity ">
			<value>4</value>
		</setting>
	</gameSettings>
</configuration>